.footer-page {
  background-color: #202020;
}

.footer {
  background-color: #202020;
  max-width: 1280px;
  margin: 0 auto;
  padding: 79px 70px 20px;
  box-sizing: border-box;
}

.footer__title {
  margin: 0;
  color: #8B8B8B;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family:'Inter',"Arial", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__navigation {
  display: flex;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  color: #FFF;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(66, 66, 66, 1);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family:'Inter',"Arial", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__year {
  margin: 0;
}

.footer__link {
  color: #FFF;
  text-decoration: none;
  margin-right: 20px;
}

.footer__link:hover {
  opacity: 0.7;
  transition: opacity .2s ease-in;
}

.footer__link:last-child {
    margin: 0;
}

@media screen and (max-width: 895px) {
  .footer {
    padding: 0 30px 20px;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    padding: 0 10px 20px;
    padding-top: 79px;
  }
  .footer__container {
    padding-top: 30px;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 12px;
  }
  .footer__navigation {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
  }
  .footer__link {
    margin-right: 0;
  }
  .footer__title{
    font-size: 12px;
  }
}
