.techs {
  background-color: #272727;
}

.techs__page {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: 0 auto;
  padding: 100px 70px;
}

.techs__title {
  margin: 90px auto 26px;
  color: #FFF;
  text-align: center;
  font-family:'Inter',"Arial", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.techs__text {
  max-width: 460px;
  margin: 0 auto 100px;
  color: #FFF;
  text-align: center;
  font-family:'Inter',"Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
}

.techs__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  margin: 0 auto;
  padding: 0;
}

.techs__item {
  border-radius: 10px;
  background: #303030;
  padding: 21px 0 22px;
  min-width: 90px;
  color: #FFF;
  text-align: center;
  font-family:'Inter',"Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

@media screen and (max-width: 770px) {
  .techs__page {
    padding: 90px 50px;
  }
  .techs__title {
    margin: 80px 0 22px;
  }
  .techs__text {
    font-size: 12px;
    padding: 0 15px;
    box-sizing: border-box;
    margin-bottom: 81px;
  }
  .techs__item {
    min-width: 82px;
    font-size: 12px;
  }
}

@media screen and (max-width: 460px) {
  .techs__page {
    padding: 70px 18px;
    background-color: #202020;;

  }
  .techs__title {
    font-size: 30px;
    line-height: normal;
    margin: 60px 0 24px;
    letter-spacing: -1.2px;
  }
  .techs__text {
    font-size: 11px;
    margin-bottom: 50px;
    letter-spacing: -0.44px;
    padding: 0;
    line-height: 16px
  }
  .techs__item {
    min-width: 84px;
  }
  .techs__list {
    max-width: 270px;
    max-width: 180px;
  }
}


