.form__button_type_login {
  margin-top: 150px;
}

.form__button_type_login:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity .2s ease-in;
}

@media screen and (max-width: 430px) {
  .form__button_type_login {
    margin-top: 230px;
  }
}
